<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>O3</title>
    <meta name="description" content="This is Finance 2.0 — Interacting with the blockchain has never been this simple. O3 is a gateway that provides access to the NEO blockchain. You will be able to manage your digital assets in a simple and secure way directly from your mobile device.">

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="https://o3.network/img/opengraph.jpg"/>
    <link rel="apple-touch-icon" sizes="180x180" href="../img/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/icon/favicon-16x16.png">
    <link rel="manifest" href="../img/icon/manifest.json">
    <link rel="mask-icon" href="../img/icon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">


    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link href='../css/fonts.css' rel='stylesheet' type='text/css'>
    <link href="../css/paper-kit.css?v=2.1.0" rel="stylesheet"/>
    <link href="../css/nucleo-icons.css" rel="stylesheet">

    <script src="js/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/neo-qrcode@0.0.7/build/neoqr.min.js"></script>
    <style type="text/css">
      .card {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 10px 4px;
      }

      .scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
      }

      .qr-code-img-url-container {
        padding-top: 15px;
        padding-bottom: 15px;
      }

      .what-is-nep-9 {
        position: absolute;
        top: 20px;
        right: 100px;
      }
    </style>
</head>
<body>

<!-- Nav header -->
<nav class="navbar navbar-expand-lg fixed-top" color-on-scroll="300">
<div class="container">
    <a class="navbar-brand" href="/">O<sub><small>3</small></sub></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="mailto:hello@o3.network">Contact</a>
            </li>
        </ul>
    </div>
</div>
</nav>


<div class="wrapper mt-4" id="app">
<div class="section">
<div class="container">
    <div class="row">
        <div class="col-md-12">
          <p>
            <a class="float-right" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <h3>What is NEP9?</h3>
            </a>
          </p>
        </div>
    </div>
    <div class="collapse" id="collapseExample">
        <div  class="text-right">
          <p>
            NEP 9, or NEO Enhancement Proposal 9, describes a standardized URI scheme for communicating the transfer
            of native asset and token transfers on the NEO blockchain.
            This standardized format for communicating the intent to create a transaction is standardized things like
            links and QR codes across differrent applications in the ecosystem can effectively interface with one another.
          </p>
          <br>
          <p>
            Please review the full proposal for more details.
          </p>
          <a href="https://github.com/neo-project/proposals/blob/master/nep-9.mediawiki">https://github.com/neo-project/proposals/blob/master/nep-9.mediawiki</a>
          <br>
        </div>
    </div>

    <!-- QR code generator -->
    <div class="row">
        <div class="col-md-12"> <h2>NEP9 QR Code Generator</h2></div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="form-group">
                <h6>NEO Address <span class="icon-danger">*</span></h6>
                <input type="text" class="form-control border-input" placeholder="enter valid NEO Address here." v-model="nep9.address">
            </div>
            <div class="form-group">
                <h6>ASSET <span class="icon-danger">*</span></h6>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{nep9.query.asset && nep9.query.asset.toUpperCase()}}
                    </button>
                    <ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dropdownMenuButton">
                        <li v-for="asset in assets"><a class="dropdown-item" href="#" v-on:click="selectAsset">{{asset.symbol.toUpperCase()}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
            <h6>Amount</h6>
                <input type="number" min="0.1" class="form-control border-input" placeholder="0.01" v-model="nep9.query.amount"/>
            </div>
            <div class="form-group">
                <h6>Description</h6>
                <textarea class="form-control textarea-limited" placeholder="Description" rows="3" maxlength="50" v-model="nep9.query.description"></textarea>
                <h5><small><span id="textarea-limited-message" class="pull-right" >50 characters left</span></small></h5>
            </div>
            <button class="btn btn-outline-primary btn-block btn-round" v-on:click="generateQRCode()">Generate</button>
        </div>
        <div class="col-md-4 my-auto" >
            <div class="card no-transition">
                <div class="card-body">
                    <h6 class="card-category">NEP9 Compatible QR Code</h6>
                    <img id="qrcode-container"></img>
                    <h6 class="card-category">QR Code Image URL</h6>
                    <div class="input-group mb-3 qr-code-img-url-container">
                      <input type="text" class="form-control" id="qr-code-img-url" v-model="imageUrl" readonly>
                      <div class="input-group-append">
                        <button class="btn" type="button" v-on:click="copyUrl('qr-code-img-url')">Copy</button>
                      </div>
                    </div>
                    <h6 class="card-category">NEP9 URI</h6>
                    <p class="card-description">{{generatedURI}}</p>
                </div>
            </div>
        </div>
    </div>


    <!-- Image service -->
    <br>
    <div class="row">
      <div class="col-md-12">
          <h2>NEP9 QR Code Image Service</h2>
          <br>
          <p class="lead">
              A hosted dynamic PNG image service for generating NEO NEP9 compliant QR codes.
          </p>
          <br>
          <p>
            The image service url format is exact to the NEP9 standard, and replaces the neo: prefix with https://nep9.o3.network/. You can provide any combination of address and parameters to the service, and it will return a PNG image resource back to you.
          </p>
          <br>
          <p>
            This service is meant to be used wherever any of the available packages are not able to be run, or you would like to easily share these QR codes over chat of social media.
          </p>
          <br>
          <h5>For example, the image url for the above QR code is:</h5>
          <div class="input-group mb-3 qr-code-img-url-container">
            <input type="text" class="form-control" id="qr-code-img-url" v-model="imageUrl" readonly>
            <div class="input-group-append">
              <button class="btn" type="button" v-on:click="copyUrl('qr-code-img-url')">Copy</button>
            </div>
          </div>
          <br>
          <h5>HTML IMG tag:</h5>
          <div class="input-group mb-3 qr-code-img-url-container">
            <input type="text" class="form-control" id="qr-code-img-html" v-model="sampleImage" readonly>
            <div class="input-group-append">
              <button class="btn" type="button" v-on:click="copyUrl('qr-code-img-html')">Copy</button>
            </div>
          </div>
          <br>
          <h5>Markdown:</h5>
          <div class="input-group mb-3 qr-code-img-url-container">
            <input type="text" class="form-control" id="qr-code-img-markdown" v-model="sampleMarkdown" readonly>
            <div class="input-group-append">
              <button class="btn" type="button" v-on:click="copyUrl('qr-code-img-markdown')">Copy</button>
            </div>
          </div>
      </div>
    </div>


    <!-- npm package -->
    <br>
    <div class="row">
      <div class="col-md-12">
          <h2>Javascript/Typescript Library</h2>
          <br>
          <p class="lead">
              For generating and attach NEP9 compliant QR codes in your JS app.
          </p>
          <br>
          <p>
            The package can be delivered via CDN, or installed via NPM and included in apps using your favorite bundle management tool.
          </p>
          <br>
          <p>
            Please review the package for more details.
          </p>
          <a href="https://badge.fury.io/js/neo-qrcode"><img src="https://badge.fury.io/js/neo-qrcode.svg" alt="npm version" height="18"></a>
          <br>
      </div>
    </div>


    <!-- nep9js -->
    <br>
    <div class="row">
      <div class="col-md-12">
          <h2>nep9.js</h2>
          <br>
          <p class="lead">
              A simple library for attaching NEP9 compliant QR codes to your page using html data attributes.
          </p>
          <br>
          <p>
            Please review the repo for more details.
          </p>
          <a href="https://github.com/O3Labs/nep9.js">https://github.com/O3Labs/nep9.js</a>
          <br>
      </div>
    </div>


</div>
</div>
</div>



<footer class="footer footer-black footer-big">
  <div class="container">
    <div class="row">
      <div class="col-md-2 text-center col-sm-3 col-12 ml-auto mr-auto">
        <h4>O3 Labs Inc.</h4>
      </div>
      <div class="col-md-9 col-sm-9 col-12 ml-auto mr-auto">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-6">
            <div class="links">
              <ul class="uppercase-links stacked-links">
                <li>
                  <a href="/">
                    Home
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-6">
            <div class="links">
              <ul class="uppercase-links stacked-links">
                <li>
                  <a href="mailto:support@o3.network?subject=contacts">
                   Support
                 </a>
               </li>
               <li>
                  <a href="https://community.o3.network">
                   Community
                 </a>
               </li>
               <li>
                <a href="https://neonewstoday.com/" target="_blank">
                  NEO News Today
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-6">
          <a href="https://itunes.apple.com/app/id1336781023" target="_blank"><img src="../img/appstore.svg" height="40px" style="margin-left: 10px;" /></a>
          <a href="https://play.google.com/store/apps/details?id=network.o3.o3wallet" target="_blank"><img src="../img/playstore.png" width="155px" /></a>
        </div>
      </div>
      <hr>

      <div class="row copyright ">

        <div class="col text-left px-0">
          © <script>document.write(new Date().getFullYear())</script> O3 Labs Inc.
        </div>
        <div class="col links px-0 text-right">
          <ul>
            <li>
              <a href="/privacy">
                Terms
              </a>
            </li>
            |
            <li>
              <a href="/privacy">
                Privacy
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
</footer>

</body>

<script type="text/javascript">

// Check for an initial uri in the url hash
var hashValue = window.location.hash;
var nep9Uri = hashValue && hashValue.replace('#', '');
if (!nep9Uri.startsWith('neo:')) {
  nep9Uri = `neo:${nep9Uri}`;
}
var initialNep9 = nep9Uri && NeoQR.parseUri(nep9Uri);

var initAssets = [
  {
    tokenHash: 'neo',
    symbol: 'neo',
  },
  {
    tokenHash: 'gas',
    symbol: 'gas',
  },
];

var app = new Vue({
  el: '#app',
  data: {
    generatedURI: "",
    imageUrl: "",
    sampleImage: "",
    sampleMarkdown: "",
    nep9: {
      address: initialNep9.address || "AR8rRBxgWw5siKsp1dUmfTLy6QQTjcqoqB",
      query: {
        asset: null,
        amount: initialNep9.amount || null,
        description: initialNep9.description || null,
      },
    },
    assets: initAssets,
  },
  watch: {
    nep9: {
      handler(val){
        this.generateQRCode();
      },
      deep:true,
    },
    assets: {
      handler(val){
        this.generateQRCode();
      },
    },
  },
  methods: {
    copyUrl(elId) {
      var inputEl = document.getElementById(elId);
      inputEl.select();
      document.execCommand('copy');
    },
    generateQRCode(){
      var qrCodeEl = document.getElementById('qrcode-container');
      var options = {
        address: this.nep9.address,
        asset: this.mapTokenSymbolToHash(this.nep9.query.asset),
        amount: this.nep9.query.amount,
        description: this.nep9.query.description
      };
      var qrCode = new NeoQR({nep9Data: options, imgEl: qrCodeEl, width: 300});
      this.generatedURI = qrCode.uri;
      this.imageUrl = qrCode.uri.replace('neo:', 'https://nep9.o3.network/');
      this.sampleImage = `<img src="${this.imageUrl}" />`;
      this.sampleMarkdown = `![img](${this.imageUrl})`;
    },
    mapTokenSymbolToHash(symbol) {
      return this.assets.reduce((result, token) => {
        if (token.symbol.toLowerCase() === symbol) {
          result = token.tokenHash;
        }
        return result;
      }, symbol);;
    },
    selectAsset(event) {
      this.nep9.query.asset = event.target.text.toLowerCase();
      this.generateQRCode();
    },
    loadList(){
      axios.get('https://cdn.o3.network/data/nep5.json').then(response => {
        this.assets = [...initAssets, ...response.data.nep5tokens];
        if (initialNep9 && initialNep9.asset) {
          this.nep9.query.asset = this.assets.reduce((result, token) => {
            if (token.tokenHash === initialNep9.asset) {
              return token.symbol.toLowerCase();
            }
            return result;
          }, initialNep9.asset);
        } else {
          this.nep9.query.asset = 'neo';
        }
      })
    },
  },
  mounted() {
    this.loadList();
  },
});

</script>
<!-- Core JS Files -->
<script src="../js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="../js/jquery-ui-1.12.1.custom.min.js" type="text/javascript"></script>
<script src="../js/popper.js" type="text/javascript"></script>
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
<script src="../js/paper-kit.js?v=2.1.0"></script>
</html>
